<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock portfolio</title>
</head>
<body>
    <h1> My Portfolio page</h1>
    <a href="/portfolio">Portfolio</a>

    <form id="myForm" method="post" action="/portfolio">
        <label for="companyInput">Company Symbol: </label>
        <input id="POST" type="text" id="companyInput" name="symbol">
        <input id="POST" type="submit" value="Submit">
    </form>

</body>

</html>